
.jumbotron{
    background-image: url("../images/white_macbook23.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 80px;
    padding: 125px;
    border-radius: 50px;
    box-shadow: 8px 8px 3px 0px rgba(0,0,0,0.75);
}

.row{
    width: 100%;
    padding: 20px;
    margin: 25px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.col{
    margin: 0 10px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.1);
    transition: 1s;
}

.col:hover{
    transform: scale(1.5);
    z-index: 2;
}


 
